<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no shrink-to-fit=no"/>
    <title>기프티콘 저장소 : 기프티콘 이미지 등록</title>
    <link rel="stylesheet" type="text/css" href="css/item.css" th:href="@{/css/item.css}">
</head>
<body>
<div id="__next">
    <div th:replace="~{item/footer :: banner ('기프티콘 이미지 등록')}"></div>
    <div style="height:135px;"></div>
    <div style="position:relative;z-index:0;height:100%">
        <style data-emotion-css="gxgxde">
            .css-gxgxde:not(input),.css-gxgxde:not(textarea){-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

        </style>
        <div class="css-gxgxde">
            <style data-emotion-css="u8kf7k">.css-u8kf7k{width:100%;height:0rem;position:relative;}</style>
            <div height="0" class="css-u8kf7k">
                <style data-emotion-css="1rfew39">
                    .css-1rfew39{position:fixed;height:0px;width:100%;z-index:2;}.css-1rfew39:after{content:' ';width:100%;height:1px;position:absolute;bottom:0;box-shadow:0 0 0.4rem 0 rgb(0 0 0 / 30%);opacity:0;-webkit-transition:opacity 0.2s ease;transition:opacity 0.2s ease;}.css-1rfew39.shadow:after{opacity:1;}

                </style>
                <div height="0" class=" css-1rfew39">
                    <style data-emotion-css="1bx0lkg">
                        .css-1bx0lkg{position:fixed;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;border-bottom:solid 0.1rem #e6e6e6;background:#ffffff;width:100%;z-index:20;}.css-1bx0lkg.borderless{border-bottom:none;}

                    </style>
                </div>
            </div>
            <style data-emotion-css="z5lflz">.css-z5lflz{max-width:768px;min-height:100vh;margin:0 auto;}</style>
            <div class="css-z5lflz">
                <style data-emotion-css="17bgah2">
                    .css-17bgah2{padding:12px 0;border-bottom:1px solid #e6e6e6;color:#1a1a1a;background-color:#fff;font-size:16px;}.css-17bgah2 + .css-17bgah2{margin-top:12px;}

                </style>
                <section id="user-section" class="css-17bgah2" style="height:1000px;"><input type="hidden" name="authInfo.memberNo"/><input
                        type="hidden" name="authInfo.phone"/>
                    <div class="css-1hbfoje">
                        <div>
                            <h3 class="css-1remysk">
                                <style data-emotion-css="1elrc35">
                                    .css-1elrc35:after{margin-left:2px;content:'*';font-weight:normal;color:#de2e5f;}

                                </style>
                            </h3>
                            <div class="css-6jja6c"></div>
                        </div>
                    </div>
                    <style data-emotion-css="13o7eu2">.css-13o7eu2{display:block;}</style>
                    <style data-emotion-css="1r0qvu6">.css-1r0qvu6{padding:0 20px 12px;display:block;}</style>
                    <div class="css-1r0qvu6">
                        <style data-emotion-css="1tqyst1">.css-1tqyst1 + .css-1tqyst1{margin-top:16px;}</style>


                        <form action="" method="post" th:action th:object="${fileDto}" enctype="multipart/form-data">

                        <div class="css-1tqyst1">
                            <div>
                                <style data-emotion-css="t1cgvl">
                                    .css-t1cgvl{display:block;font-size:12px;color:#919191;padding:5px 0;}.css-t1cgvl:after{margin-left:2px;content:'*';font-weight:normal;color:#de2e5f;}

                                </style>
                                <label required="" class="css-t1cgvl">사진 등록</label>
                                <style data-emotion-css="1vtdfw9">
                                    .css-1vtdfw9{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-bottom:1px solid #cccccc;padding:8px 0;}.css-1vtdfw9 input:-webkit-autofill,.css-1vtdfw9 input:-webkit-autofill:hover,.css-1vtdfw9 input:-webkit-autofill:focus,.css-1vtdfw9 input:-webkit-autofill:active{-webkit-box-shadow:0 0 0 30px white inset !important;}

                                </style>
                                <div class="css-1vtdfw9">
                                    <div style="width:100%">
                                        <style data-emotion-css="cssveg">.css-cssveg{position:relative;}</style>
                                        <div class="css-cssveg">
                                            <style data-emotion-css="1pfv6fx">
                                                .css-1pfv6fx{width:100%;padding:0 2.4rem 0 0;border:none;text-align:left;font-size:1.6rem;color:#1a1a1a;background-color:transparent;}.css-1pfv6fx:-moz-read-only{color:#919191;}.css-1pfv6fx:read-only{color:#919191;}.css-1pfv6fx::-webkit-input-placeholder{color:#cccccc;}.css-1pfv6fx::-moz-placeholder{color:#cccccc;}.css-1pfv6fx:-ms-input-placeholder{color:#cccccc;}.css-1pfv6fx::placeholder{color:#cccccc;}

                                            </style>
                                            <input type="file" th:field="*{attachFile}" class="css-1pfv6fx"/>
                                            <p class="field-error" th:errors="*{attachFile}">사진 오류</p>
                                        </div>
                                </div>
                                <style data-emotion-css="nzjuuy">
                                    .css-nzjuuy{margin-top:8px;height:20px;color:#dc0328;font-size:11px;}

                                </style>
                                <div class="css-nzjuuy"></div>
                            </div>
                        </div>
                    </div>
                        </form>
                        <div th:replace="~{item/footer :: big_button ('이미지 등록하기')}"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="modal-root" style="position:absolute;z-index:0;top:0">
        <div id="modal-dialog"></div>
        <div id="modal-toast"></div>
        <div id="modal-refresh-indicator"></div>
    </div>
</div>
</body>
</html>