<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, width=device-width, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"/>
    <title>기프티콘 저장소 : 기프티콘 수정</title>
    <link rel="stylesheet" type="text/css" href="css/item.css" th:href="@{/css/item.css}">
</head>
<body>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58KLNBW" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=408076496057547&amp;ev=PageView&amp;noscript=1"/></noscript>
<div id="__next">
    <div th:replace="~{item/footer :: banner ('모바일 교환권', 'hidden')}"></div>
    <div style="height:135px;"></div>
    <div id="lightbox" class="LeisureDetailLightbox_wrapper__wQ3BN">
        <div id="" class="pswp LeisureDetailLightbox_gallery__2z_fM" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="StyleComponent_container__1jS9A LeisureDetailBody_layout__1zo7R">
        <form action="" method="post" th:action th:object="${itemEditDto}" enctype="multipart/form-data">
        <article>
            <div>
                <div class="LeisureDetailImageHeader_container__lEo9c">
                    <div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-android">
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="ImageFallback_wrap__3VXUV LeisureDetailImageHeader_image__259_k swiper-slide swiper-slide-active" style="height: 630px;">
                                <div style="height: 100px"></div>
                                <div class="ImageFallback_body__UgBLm"
                                     th:style="|background-image: url(&quot;/items/image/*{imageURI}&quot;);width: 45vh;background-position: center;margin: 0 auto;|"></div>
                                <input type="text"  th:field="*{imageURI}" hidden/>
                                <div class="LeisureDetailImageHeader_topOverlay__1b71Y"></div>
                                <div class="LeisureDetailImageHeader_bottomOverlay__1TQ3S"></div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div>
                <header class="LeisureDetailTitle_container__1seHy">
                    <div class="LeisureDetailTitle_wrap__2P-NT">
                        <input type="text" class="LeisureDetailTitle_title__39CSC" th:field="*{itemName}" style="width: -webkit-fill-available;border-width: thin;"/>
                        <p class="field-error" th:errors="*{itemName}">상품명 오류</p>
                        <p class="LeisureDetailTitle_desc__3gHN7"></p>
                        <p class="LeisureDetailTitle_pointDesc__12EzW" style="justify-content: space-between;">
                            <select class="css-1pfv6fx" th:field="*{itemCategory}">
                                <option value="">==분류 선택==</option>
                                <option th:each="itemCategory : ${itemCategories}" th:value="${itemCategory}" th:text="${itemCategory.value}">카페</option>
                            </select>
                            <p class="field-error" th:errors="*{itemCategory}">분류 오류</p>
                            <input type="file" th:field="*{attachFile}" class="css-1pfv6fx"/>
                            <p class="field-error" th:errors="*{attachFile}">사진 오류</p>
                        </p>
                            <div class="ImageFallback_wrap__3VXUV LeisureDetailTitle_brandImageWrap__2AW-j">
                                <div class="ImageFallback_body__UgBLm"></div>
                            </div>
                            <b class="LeisureDetailDescription_pictogramTitle__ypdND" style="font-size: 15px;margin-left: 0rem;border-width: thin;">교환처</b>
                            <input type="text" class="LeisureDetailTitle_brandTitle__1vpTb" th:field="*{brandName}" style="border-width: thin;"/>
                            <p class="field-error" th:errors="*{brandName}">교환처 오류</p>
                    </div>
                </header>
            </div>
            <div>
                <section class="LeisureDetailDescription_container__1F87B">
                    <div class="LeisureDetailDescription_wrap__21SPO"><h2
                            class="LeisureDetailDescription_heading__4VZJI">소개</h2>
                        <table class="LeisureDetailDescription_pictogramTable__1Oo3M">
                            <tbody>
                            <tr class="LeisureDetailDescription_row__38Uqv">
                                <td class="LeisureDetailDescription_pictogramTitleCell__15qN8"><img
                                        class="LeisureDetailDescription_pictogram__ebha4"
                                        src="https://yaimg.yanolja.com/v5/2018/06/18/09/5b2700c9c61c26.61017208.png"
                                        alt=""/><b class="LeisureDetailDescription_pictogramTitle__ypdND">유효기간</b></td>
                                <td>
                                    <input type="date" th:field="*{expirationDate}" th:value="*{expirationDate}" style="border-width: thin;"/>
                                    <p class="field-error" th:errors="*{expirationDate}">만기일 오류</p>
                                </td>
                            </tr>
                            <tr class="LeisureDetailDescription_row__38Uqv">
                                <td class="LeisureDetailDescription_pictogramTitleCell__15qN8"><img
                                        class="LeisureDetailDescription_pictogram__ebha4"
                                        src="https://yaimg.yanolja.com/v5/2018/06/18/09/5b2700c9e2a434.94674553.png"
                                        alt=""/><b class="LeisureDetailDescription_pictogramTitle__ypdND">가격</b></td>
                                <td>
                                    <input type="text" th:field="*{price}" style="border-width: thin;"/>
                                    <p class="field-error" th:errors="*{price}">가격 오류</p>
                                </td>
                            </tr>
                            <tr class="LeisureDetailDescription_row__38Uqv">
                                <td class="LeisureDetailDescription_pictogramTitleCell__15qN8"><img
                                        class="LeisureDetailDescription_pictogram__ebha4"
                                        src="https://yaimg.yanolja.com/v5/2018/06/18/09/5b2700c9e2a434.94674553.png"
                                        alt=""/><b class="LeisureDetailDescription_pictogramTitle__ypdND">시리얼 번호</b></td>
                                <td>
                                    <input type="text" th:field="*{serialNumber}" style="border-width: thin;"/>
                                    <p class="field-error" th:errors="*{serialNumber}">시리얼번호 오류</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

        </article>
        <div th:replace="~{item/footer :: big_button ('저장')}"></div>
        </form>
    </div>
    <div class="SnackBar_container__El92l" style="transform:translateY(10px)">
        <div class="PDPWishSnackBar_wishToast__1FKPN">찜 목록에 추가되었습니다.<a href="/wishlist?tab=leisure"
                                                                       class="PDPWishSnackBar_goToWishListBtn__3h7kH">찜
            목록보기</a></div>
    </div>
    <div class="Toast_container__1yVJ5"></div>
</div>

</body>
</html>