<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charSet="utf-8"/>
</head>
<body>

<footer th:fragment="banner (param1, param2)">
  <section class="sunny-nav SunnyNav_container__18unQ">
    <section class="SmartBanner_container__3Zp0y">
      <!-- <button class="SmartBanner_close__1j2sZ"><i></i></button> -->
      <section class="DeepLinkBanner_container__3oHeE">
        <a th:href="@{/}">
          <img class="DeepLinkBanner_image__2nMUl" th:src="@{/images/icon.png}">
        </a>
        <!-- <button class="DeepLinkBanner_action__2Y1Lt"><span>앱에서 보기</span><i></i></button> -->
      </section>
    </section>
    <nav class="NavigationBar_container__1EfAG">
      <div class="NavigationBar_wrap__1Jht4">
        <div class="NavigationBar_leftWrap__1davh">
          <button as="button" class="BaseButton_button__tzyL8 NavigationBarIconButton_button__2UbJV" onclick="history.back()">
                                <span class="Icon_icon__2BP_o" aria-hidden="true"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                                        d="M17.51 3.87L15.73 2.1 5.84 12 15.74 21.9 17.51 20.13 9.38 12z"></path></svg></span>
          </button>
          <button style="visibility:hidden" as="button"
                  class="BaseButton_button__tzyL8 NavigationBarIconButton_button__2UbJV"><span
                  class="Icon_icon__2BP_o" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg"
                                                                   viewBox="0 0 24 24"><path
                  d="M17.51 3.87L15.73 2.1 5.84 12 15.74 21.9 17.51 20.13 9.38 12z"></path></svg></span>
          </button>
        </div>
        <div class="NavigationBar_center__18CsD">
          <div class="NavigationBarHeading_container__8vDzj">
            <h1 class="NavigationBarHeading_title__hHbul" th:text="${param1}">모바일교환권</h1></div>
        </div>
        <div class="NavigationBar_rightWrap__2Fhtd">
          <form action="" method="post" th:action="|delete/${itemId}|" th:if="${#strings.equals(param2, 'delete')}">
            <button as="button" class="BaseButton_button__tzyL8 NavigationBarIconButton_button__2UbJV">
              <span class="Icon_icon__2BP_o" aria-hidden="true">
                <img class="BaseButton_button__tzyL8 NavigationBarIconButton_button__2UbJV" th:src="@{/images/delete.png}" style="bottom: 30%;">
              </span>
            </button>
          </form>
          <button as="button" class="BaseButton_button__tzyL8 NavigationBarIconButton_button__2UbJV">
            <span class="Icon_icon__2BP_o" aria-hidden="true">
              <img class="BaseButton_button__tzyL8 NavigationBarIconButton_button__2UbJV" th:src="@{/images/present.png}" style="bottom: 30%;">
            </span>
          </button>
        </div>
      </div>
    </nav>
    <div class="NavigationBar_body__1c5zE _exhibitionID__navBarBody__ExGZj">
      <div class="_exhibitionID__navBodyMenu__1Q7gx"></div>
      <div class="NavigationBar_shadow__1IyZc"></div>
    </div>
  </section>
</footer>

<footer th:fragment="big_button (param1)">
  <div class="CTAButtonForCart_container__1cegF CTAButtonForCart_bottom__2pQJL CTAButtonForCart_shadow__3Ny3k">
    <div class="CTAButtonForCart_wrap__1BSHu">
      <div class="CTAButtonForCart_buttonsContainer__2iWKr">
        <div class="CTAButtonForCart_buttonWrap__7lSi0 CTAButtonForCart_wishSubButtonWrap__2cZfN">
          <button as="button" type="button"
                  class="BaseButton_button__tzyL8 RectButton_basic__3QCM- CTAButtonForCart_button__2vEv5 CTAButtonForCart_wishButton__2ApcK">
            <div class="CTAButtonForCart_favorite__2sQTk CTAButtonForCart_favoriteBorder__2VKgO RectButton_icon__315ok"></div>
          </button>
        </div>
        <div class="CTAButtonForCart_buttonWrap__7lSi0 CTAButtonForCart_wishMainButtonWrap__2FNUm">
          <button as="button" type="submit"
                  class="BaseButton_button__tzyL8 RectButton_primary__3O9TH CTAButtonForCart_button__2vEv5">
            <span class="RectButton_label__WcAp7" th:text="${param1}">저장</span></button>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>