<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, width=device-width, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
    <title>기프티콘 저장소 : 메인페이지</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}">
</head>
<body style="">
<div id="__next">
    <div class="SunnyLayout_container__3PLag _exhibitionID__layout__3yKhR">
        <header class="SunnyLayout_headerContainer__3E-yF">
            <div th:replace="~{item/footer :: banner ('모바일 교환권')}"></div>
            <div style="padding-top:48px"></div>
        </header>
        <main class="SunnyLayout_bodyContainer__1wWjV">
            <div class="SunnyLayout_smartBanner__oDN4E"></div>
            <div class="ExhibitionDetailBody_container__3bk3I">
                <div></div>
                <section class="ExhibitionDetailSortNav_container__1igfW">
                    <div class="ExhibitionDetailSortNav_count__5JgAk"><strong th:text="${itemViewDtos.size}">22</strong>개의 상품</div>
                    <div style="float:right;margin-top:1%;position:relative;margin-right:2%;">
                        <button class="BaseButton_button__tzyL8 RectButton_primary__3O9TH CTAButtonForCart_button__2vEv5"
                                th:onclick="|location.href='/items?filter=all'|"
                                th:styleappend="${(param.filter != null) and (not #strings.equals(param.filter, 'all'))} ? 'background:#E9A7A7;border:#E9A7A7;' : 'background:#de2e5f;border:#de2e5f;'">
                            <span class="RectButton_label__WcAp7" style="font-size: 1.2rem;font-weight: bold;">전체</span>
                        </button>
                        <button class="BaseButton_button__tzyL8 RectButton_primary__3O9TH CTAButtonForCart_button__2vEv5"
                                th:onclick="|location.href='/items?filter=available'|"
                                th:styleappend="${(param.filter == null) or (not #strings.equals(param.filter, 'available'))} ? 'background:#E9A7A7;border:#E9A7A7;' : 'background:#de2e5f;border:#de2e5f;'">
                            <span class="RectButton_label__WcAp7" style="font-size: 1.2rem;font-weight: bold;">사용가능</span>
                        </button>
                        <button class="BaseButton_button__tzyL8 RectButton_primary__3O9TH CTAButtonForCart_button__2vEv5"
                                th:onclick="|location.href='/items?filter=used'|"
                                th:styleappend="${(param.filter == null) or (not #strings.equals(param.filter, 'used'))} ? 'background:#E9A7A7;border:#E9A7A7;' : 'background:#de2e5f;border:#de2e5f;'">
                            <span class="RectButton_label__WcAp7" style="font-size: 1.2rem;font-weight: bold;">사용완료</span>
                        </button>
                    </div>
                </section>
                <div style="position: relative;">
                    <div style="overflow:visible;width:0">
                        <div>
                            <div aria-label="grid" aria-readonly="true"
                                 class="ReactVirtualized__Grid ReactVirtualized__List" role="grid"
                                 style="box-sizing: border-box; direction: ltr; height: auto; position: relative; width: 100vw; will-change: transform; overflow: hidden auto;"
                                 tabindex="0">
                                <div class="ReactVirtualized__Grid__innerScrollContainer" role="rowgroup" style="width: auto; height: 4576px; max-width: 768px; max-height: 4576px; overflow: hidden; position: relative;">
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0" th:each="itemViewDto : ${itemViewDtos}"
                                         th:style="|height: 208px; left: 0px; position: absolute; top: ${itemViewDtoStat.index*208}px; width: 100%;|">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2">
                                                <a th:href="|/items/${itemViewDto.id}|" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         th:style="|background-image: url(&quot;/items/image/${itemViewDto.imageURI}&quot;);height: 30vh;|"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/c2580cc6-9e12-485c-80d0-f4aedf593ae1.jpeg&quot;);">
                                                    </div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ">
                                                    <p class="LeisureListItem_title__U-d8s" th:text="${itemViewDto.itemName}">[스타벅스]카페아메리카노 Tall</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA" th:text="${itemViewDto.itemCategory.value}">카페</span>
                                                        <span class="LeisureCommonBadges_badge__3_xxA" th:text="${itemViewDto.brandName}">스타벅스</span>
                                                        <span class="LeisureCommonBadges_badge__3_xxA" th:text="${itemViewDto.expirationDate}">2021-09-21</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F">
                                                            <s></s>
                                                        </div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q">

                                                            <th:block th:switch="${itemViewDto.itemStatus.name}">
                                                                <span th:case="Available" class="LeisureCommonBadges_badge__3_xxA" style="float:left;background-color: #F3CC07;border: .1em solid #F3CC07;font-size: 1.2rem;font-weight: bold;color: white;"
                                                                  th:text="${itemViewDto.itemStatus.value}">사용 가능</span>
                                                                <span th:case="Impending" class="LeisureCommonBadges_badge__3_xxA" style="float:left;background-color: #F35D07;border: .1em solid #F35D07;font-size: 1.2rem;font-weight: bold;color: white;"
                                                                      th:text="${itemViewDto.itemStatus.value}">마감 임박</span>
                                                                <span th:case="Expired" class="LeisureCommonBadges_badge__3_xxA" style="float:left;background-color: #DADAD6;border: .1em solid #DADAD6;font-size: 1.2rem;font-weight: bold;color: white;"
                                                                      th:text="${itemViewDto.itemStatus.value}">기간 만료</span>
                                                                <span th:case="Already_Used" class="LeisureCommonBadges_badge__3_xxA" style="float:left;background-color: #242405;border: .1em solid #242405;font-size: 1.2rem;font-weight: bold;color: white;"
                                                                      th:text="${itemViewDto.itemStatus.value}">사용 완료</span>
                                                            </th:block>
                                                            <span class="LeisurePriceDiscount_amount__19qBa" th:text="${{itemViewDto.price}}">4,100</span>
                                                            <span class="LeisurePriceDiscount_unit__19gEJ">원</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 769px; height: 4577px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
                <div class="ToTopButton_container__80T0O ToTopButton_containerVisible__2Wpm3 ExhibitionDetailBody_toTopButton__1_-Mt">
                    <button class="ToTopButton_button__2Y4Fv" onclick="location.href='/items/new'">
                        <div><img th:src="@{/images/plus.png}" alt="" style="max-width: 100%; height: auto;"></div>
                    </button>
                </div>
            </div>
            <aside class="PageTabs_wrap__3Ebg- common_onlyPC__2B4XI">
                <nav class="PageTabs_container__24cCl"><a href="/" class="PageTabs_itemInactive__GXEMb">
                    <div class="TabIcon_home__1SIsl"></div>
                    <span class="PageTabs_label__3IG6M">홈</span></a><a href="/area"
                                                                       class="PageTabs_itemInactive__GXEMb">
                    <div class="TabIcon_area__1Ru7c"></div>
                    <span class="PageTabs_label__3IG6M">지역</span></a><a href="/around"
                                                                        class="PageTabs_itemInactive__GXEMb">
                    <div class="TabIcon_around__aW2jY"></div>
                    <span class="PageTabs_label__3IG6M">내주변</span></a><a href="/wishlist"
                                                                         class="PageTabs_itemInactive__GXEMb">
                    <div class="TabIcon_wishlist__2hxUX"><img class="TabIcon_newSticker__2XCEZ"
                                                              src="//yaimg.yanolja.com/joy/sunny/static/images/ico-bottom-tap-new.svg"
                                                              alt="NEW"></div>
                    <span class="PageTabs_label__3IG6M">찜</span></a><a href="/mypage"
                                                                       class="PageTabs_itemInactive__GXEMb">
                    <div class="TabIcon_mypage__paiHD"></div>
                    <span class="PageTabs_label__3IG6M">MY 야놀자</span></a></nav>
            </aside>
        </main>
    </div>
    <div class="Toast_container__1yVJ5"></div>
</div>
<span itemtype="http://schema.org/Organization" aria-hidden="true"><link itemprop="url"
                                                                         href="https://www.yanolja.com"><a
        itemprop="sameAs" href="https://www.facebook.com/yanolja/"></a><a itemprop="sameAs"
                                                                          href="https://www.instagram.com/yanolja.official/"></a><a
        itemprop="sameAs" href="https://www.youtube.com/user/yanoljamedia"></a><a itemprop="sameAs"
                                                                                  href="http://tv.naver.com/yanolja"></a><a
        itemprop="sameAs" href="http://post.naver.com/my.nhn?memberNo=2768780"></a><a itemprop="sameAs"
                                                                                      href="http://blog.naver.com/yanolog"></a><a
        itemprop="sameAs" href="https://play.google.com/store/apps/details?id=com.cultsotry.yanolja.nativeapp"></a><a
        itemprop="sameAs" href="https://itunes.apple.com/kr/app/%EC%95%BC%EB%86%80%EC%9E%90/id436731843?mt=8"></a><a
        itemprop="sameAs" href="https://yanolja.github.io/"></a></span>




<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
</body>
</html>