<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1, maximum-scale=1, width=device-width, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
    <title>기프티콘 저장소 : 메인페이지</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}">
</head>
<body style="">
<div id="__next">
    <div class="SunnyLayout_container__3PLag _exhibitionID__layout__3yKhR">
        <header class="SunnyLayout_headerContainer__3E-yF">
            <section class="sunny-nav SunnyNav_container__18unQ">
                <section class="SmartBanner_container__3Zp0y">
                    <button class="SmartBanner_close__1j2sZ"><i></i></button>
                    <section class="DeepLinkBanner_container__3oHeE"><img class="DeepLinkBanner_image__2nMUl"
                                                                          src="//yaimg.yanolja.com/joy/sunny/static/images/promotion/bnr-smart-banner-app.svg">
                        <button class="DeepLinkBanner_action__2Y1Lt"><span>앱에서 보기</span><i></i></button>
                    </section>
                </section>
                <nav class="NavigationBar_container__1EfAG">
                    <div class="NavigationBar_wrap__1Jht4">
                        <div class="NavigationBar_leftWrap__1davh">
                            <button as="button" class="BaseButton_button__tzyL8 NavigationBarIconButton_button__2UbJV">
                                <span class="Icon_icon__2BP_o" aria-hidden="true"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                                        d="M17.51 3.87L15.73 2.1 5.84 12 15.74 21.9 17.51 20.13 9.38 12z"></path></svg></span>
                            </button>
                            <button style="visibility:hidden" as="button"
                                    class="BaseButton_button__tzyL8 NavigationBarIconButton_button__2UbJV"><span
                                    class="Icon_icon__2BP_o" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                     viewBox="0 0 24 24"><path
                                    d="M17.51 3.87L15.73 2.1 5.84 12 15.74 21.9 17.51 20.13 9.38 12z"></path></svg></span>
                            </button>
                        </div>
                        <div class="NavigationBar_center__18CsD">
                            <div class="NavigationBarHeading_container__8vDzj"><h1
                                    class="NavigationBarHeading_title__hHbul">모바일교환권</h1></div>
                        </div>
                        <div class="NavigationBar_rightWrap__2Fhtd">
                            <button as="button" class="BaseButton_button__tzyL8 NavigationBarIconButton_button__2UbJV">
                                <span class="Icon_icon__2BP_o" aria-hidden="true"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                                        d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7 0-.24-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92 0-1.61-1.31-2.92-2.92-2.92zM18 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM6 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"></path></svg></span>
                            </button>
                            <button as="button" class="BaseButton_button__tzyL8 NavigationBarIconButton_button__2UbJV">
                                <span class="Icon_icon__2BP_o" aria-hidden="true"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                                        d="M9.5 17c1.38 0 2.5 1.12 2.5 2.5S10.88 22 9.5 22 7 20.88 7 19.5 8.12 17 9.5 17zm7.5 0c1.38 0 2.5 1.12 2.5 2.5S18.38 22 17 22s-2.5-1.12-2.5-2.5S15.62 17 17 17zm-7.5 1.8c-.387 0-.7.313-.7.7 0 .387.313.7.7.7.387 0 .7-.313.7-.7 0-.387-.313-.7-.7-.7zm7.5 0c-.387 0-.7.313-.7.7 0 .387.313.7.7.7.387 0 .7-.313.7-.7 0-.387-.313-.7-.7-.7zM5.132 2c.71 0 1.322.497 1.468 1.192L7.19 6h.012l1.714 8h8.874l1.714-6H8.458L8 6h12.2l-.001.001.114.006c.76.073 1.355.713 1.355 1.493 0 .14-.019.278-.057.412l-2 7c-.184.644-.773 1.088-1.442 1.088H8.513c-.708 0-1.319-.494-1.467-1.186L4.728 4H2.3V2h2.832z"
                                        transform="translate(-876 -8583) translate(80 8258) translate(0 236) translate(480) translate(0 53) translate(0 24) translate(316 12)"></path></svg></span>
                            </button>
                        </div>
                    </div>
                </nav>
                <div class="NavigationBar_body__1c5zE _exhibitionID__navBarBody__ExGZj">
                    <div class="_exhibitionID__navBodyMenu__1Q7gx"></div>
                    <div class="NavigationBar_shadow__1IyZc"></div>
                </div>
            </section>
            <div style="padding-top:48px"></div>
        </header>
        <main class="SunnyLayout_bodyContainer__1wWjV">
            <div class="SunnyLayout_smartBanner__oDN4E"></div>
            <div class="ExhibitionDetailBody_container__3bk3I">
                <div></div>
                <section class="ExhibitionDetailSortNav_container__1igfW">
                    <div class="ExhibitionDetailSortNav_count__5JgAk"><strong>22</strong>개의 상품</div>
                </section>
                <div style="position: relative;">
                    <div style="overflow:visible;width:0">
                        <div>
                            <div aria-label="grid" aria-readonly="true"
                                 class="ReactVirtualized__Grid ReactVirtualized__List" role="grid"
                                 style="box-sizing: border-box; direction: ltr; height: auto; position: relative; width: 100vw; will-change: transform; overflow: hidden auto;"
                                 tabindex="0">
                                <div class="ReactVirtualized__Grid__innerScrollContainer" role="rowgroup"
                                     style="width: auto; height: 4576px; max-width: 768px; max-height: 4576px; overflow: hidden; position: relative;">
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 0px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/71371" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/c2580cc6-9e12-485c-80d0-f4aedf593ae1.jpeg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[스타벅스]카페아메리카노 Tall</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">4,100</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 208px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/71343" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/78a82e74-0e5e-4758-bd20-240e890138ea.jpeg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[스타벅스]아이스 카페아메리카노 Tall</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">4,100</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 416px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/71375" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/38c85b5a-40fc-451d-8143-f02e3c36a2b8.jpeg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[스타벅스]시원한 아메리카노 커플 세트</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">8,200</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 624px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/72034" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/32340d0e-cf50-46af-a7e3-142d916bc529.jpeg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[BBQ] 황금올리브치킨+콜라 1.25L</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">20,000</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 832px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/70148" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/0103c03f-ef07-47f6-ba2b-ff93e1a50123.jpeg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[해피머니] 해피머니 온라인 상품권
                                                    5천원권</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">5,000</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 1040px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/74569" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/5635ea2c-889a-425f-b559-9f9de0f095d7.jpg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[요기요] 10,000원 할인권</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">10,000</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 1248px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/74570" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/a1e687e3-f681-4b1d-ac71-6bc299f9f5fa.jpg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[요기요] 15,000원 할인권</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">15,000</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 1456px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/69788" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/97b52a23-da8d-4ecf-a882-51be602d16eb.jpeg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[북앤라이프] 도서문화상품권 오천원권</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">5,000</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 1664px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/71300" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/90c665c8-7887-4c59-8480-750621a75fe1.jpeg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[스타벅스]부드러운 디저트 세트 (부드러운 생크림
                                                    카스텔라+아메리카노 2잔)</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">12,700</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 1872px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/71299" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/dd20547c-3fed-4601-8099-cffd260ef344.jpeg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[스타벅스]달콤한 디저트 세트 (7 레이어 가나슈
                                                    케이크+아메리카노 1잔)</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">9,800</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 2080px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/69454" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/6184b673-4ffc-4234-b4e7-3c6049a6cff6.jpeg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[피자마루] 골드 포테이토+콜라 1.25L</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">16,500</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div class="ExhibitionDetailSubGroup_mobileRow__AJGy0"
                                         style="height: 208px; left: 0px; position: absolute; top: 2288px; width: 100%;">
                                        <div>
                                            <div class="ExhibitionDetailDomesticLeisure_container__15r_2"><a
                                                    href="/leisure/69791" class="LeisureListItem_container__12YuE">
                                                <div class="ImageFallback_wrap__3VXUV LeisureListItem_image__3xYDz">
                                                    <div class="ImageFallback_body__UgBLm"
                                                         style="background-image: url(&quot;https://static.leisureq.io/800/production-gajago-deal-images/8de8845a-8c94-415d-ae40-8484e13bd1f9.jpeg&quot;);"></div>
                                                </div>
                                                <div class="LeisureListItem_body__1iNjJ"><p
                                                        class="LeisureListItem_title__U-d8s">[북앤라이프] 도서문화상품권 일천원권</p>
                                                    <p class="LeisureListItem_desc__1HrH4"></p>
                                                    <div class="LeisureCommonBadges_container__26Y4q LeisureListItem_badges__2Ycei">
                                                        <span class="LeisureCommonBadges_badge__3_xxA">당일사용가능</span><span
                                                            class="LeisureCommonBadges_badge__3_xxA">미사용 전액환불</span>
                                                    </div>
                                                    <div class="LeisureListItem_priceWrap__126T-">
                                                        <div class="LeisurePriceOrigin_wrap__2ks_F"><s></s></div>
                                                        <div class="LeisurePriceDiscount_wrap__36K-Q"><span
                                                                class="LeisurePriceDiscount_amount__19qBa">1,000</span><span
                                                                class="LeisurePriceDiscount_unit__19gEJ">원</span></div>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 769px; height: 4577px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
                <div class="ToTopButton_container__80T0O ToTopButton_containerVisible__2Wpm3 ExhibitionDetailBody_toTopButton__1_-Mt">
                    <button class="ToTopButton_button__2Y4Fv">
                        <div><img src="//yaimg.yanolja.com/joy/sunny/static/images/icon-arrow-less-line-2.svg" alt="">
                        </div>
                        <div class="ToTopButton_btnInnerText__1yDBa">맨위로</div>
                    </button>
                </div>
            </div>
            <aside class="PageTabs_wrap__3Ebg- common_onlyPC__2B4XI">
                <nav class="PageTabs_container__24cCl"><a href="/" class="PageTabs_itemInactive__GXEMb">
                    <div class="TabIcon_home__1SIsl"></div>
                    <span class="PageTabs_label__3IG6M">홈</span></a><a href="/area"
                                                                       class="PageTabs_itemInactive__GXEMb">
                    <div class="TabIcon_area__1Ru7c"></div>
                    <span class="PageTabs_label__3IG6M">지역</span></a><a href="/around"
                                                                        class="PageTabs_itemInactive__GXEMb">
                    <div class="TabIcon_around__aW2jY"></div>
                    <span class="PageTabs_label__3IG6M">내주변</span></a><a href="/wishlist"
                                                                         class="PageTabs_itemInactive__GXEMb">
                    <div class="TabIcon_wishlist__2hxUX"><img class="TabIcon_newSticker__2XCEZ"
                                                              src="//yaimg.yanolja.com/joy/sunny/static/images/ico-bottom-tap-new.svg"
                                                              alt="NEW"></div>
                    <span class="PageTabs_label__3IG6M">찜</span></a><a href="/mypage"
                                                                       class="PageTabs_itemInactive__GXEMb">
                    <div class="TabIcon_mypage__paiHD"></div>
                    <span class="PageTabs_label__3IG6M">MY 야놀자</span></a></nav>
            </aside>
        </main>
    </div>
    <div class="Toast_container__1yVJ5"></div>
</div>
<span itemtype="http://schema.org/Organization" aria-hidden="true"><link itemprop="url"
                                                                         href="https://www.yanolja.com"><a
        itemprop="sameAs" href="https://www.facebook.com/yanolja/"></a><a itemprop="sameAs"
                                                                          href="https://www.instagram.com/yanolja.official/"></a><a
        itemprop="sameAs" href="https://www.youtube.com/user/yanoljamedia"></a><a itemprop="sameAs"
                                                                                  href="http://tv.naver.com/yanolja"></a><a
        itemprop="sameAs" href="http://post.naver.com/my.nhn?memberNo=2768780"></a><a itemprop="sameAs"
                                                                                      href="http://blog.naver.com/yanolog"></a><a
        itemprop="sameAs" href="https://play.google.com/store/apps/details?id=com.cultsotry.yanolja.nativeapp"></a><a
        itemprop="sameAs" href="https://itunes.apple.com/kr/app/%EC%95%BC%EB%86%80%EC%9E%90/id436731843?mt=8"></a><a
        itemprop="sameAs" href="https://yanolja.github.io/"></a></span>




<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
<div class="ReactModalPortal"></div>
</body>
</html>